//font-family
$roboto: 'Roboto', sans-serif;
$playfair: 'Playfair Display', serif;
$alegreya: 'Alegreya', serif;
$kaushan-script:'Kaushan Script', cursive;

//color-variables
$white: #ffffff;
$border-color: #9e9c93;
$black:#000000;
$fuscous-grey:#56534c;
$french-beige:#a47d5e;
$grey-cloud:#b6b5b2;
$fawn:#c9b176;
$light-taupe:#b08e73;
$quill-grey:#d7d5ca;
$vanilla:#d8bba3;
$brandy:#dfc691;
$soft-peach:#EFEFEF;
$heathered-grey:#c8a593;
$dawn:#a3a1a3;
$merino:#f3f1e9;
$desert-sand:#e3cea0;